In [7]:
# 1. 导入数据集
# 2. 数据集拆分
# 3. 数据预处理
# 4. 模型训练
# 5. 模型评估
# 6. 模型再训练（D）
# 7. 保存模型

In [8]:
from sklearn import  datasets

In [9]:
boston = datasets.fetch_openml("boston",version=1)
boston

E:\software\anaconda3\Lib\site-packages\sklearn\datasets\_openml.py:1002: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

{'data':         CRIM    ZN  INDUS CHAS    NOX     RM   AGE     DIS RAD    TAX  \
 0    0.00632  18.0   2.31    0  0.538  6.575  65.2  4.0900   1  296.0
 1    0.02731   0.0   7.07    0  0.469  6.421  78.9  4.9671   2  242.0
 2    0.02729   0.0   7.07    0  0.469  7.185  61.1  4.9671   2  242.0
 3    0.03237   0.0   2.18    0  0.458  6.998  45.8  6.0622   3  222.0
 4    0.06905   0.0   2.18    0  0.458  7.147  54.2  6.0622   3  222.0
 ..       ...   ...    ...  ...    ...    ...   ...     ...  ..    ...
 501  0.06263   0.0  11.93    0  0.573  6.593  69.1  2.4786   1  273.0
 502  0.04527   0.0  11.93    0  0.573  6.120  76.7  2.2875   1  273.0
 503  0.06076   0.0  11.93    0  0.573  6.976  91.0  2.1675   1  273.0
 504  0.10959   0.0  11.93    0  0.573  6.794  89.3  2.3889   1  273.0
 505  0.04741   0.0  11.93    0  0.573  6.030  80.8  2.5050   1  273.0

      PTRATIO       B  LSTAT
 0       15.3  396.90   4.98
 1       17.8  396.90   9.14
 2       17.8  392.83   4.03
 3       18.7  394.63   2.94
 4       18.7  396.90   5.33
 ..       ...     ...    ...
 501     21.0  391.99   9.67
 502     21.0  396.90   9.08
 503     21.0  396.90   5.64
 504     21.0  393.45   6.48
 505     21.0  396.90   7.88

 [506 rows x 13 columns],
 'target': 0      24.0
 1      21.6
 2      34.7
 3      33.4
 4      36.2
        ...
 501    22.4
 502    20.6
 503    23.9
 504    22.0
 505    11.9
 Name: MEDV, Length: 506, dtype: float64,
 'frame':         CRIM    ZN  INDUS CHAS    NOX     RM   AGE     DIS RAD    TAX  \
 0    0.00632  18.0   2.31    0  0.538  6.575  65.2  4.0900   1  296.0
 1    0.02731   0.0   7.07    0  0.469  6.421  78.9  4.9671   2  242.0
 2    0.02729   0.0   7.07    0  0.469  7.185  61.1  4.9671   2  242.0
 3    0.03237   0.0   2.18    0  0.458  6.998  45.8  6.0622   3  222.0
 4    0.06905   0.0   2.18    0  0.458  7.147  54.2  6.0622   3  222.0
 ..       ...   ...    ...  ...    ...    ...   ...     ...  ..    ...
 501  0.06263   0.0  11.93    0  0.573  6.593  69.1  2.4786   1  273.0
 502  0.04527   0.0  11.93    0  0.573  6.120  76.7  2.2875   1  273.0
 503  0.06076   0.0  11.93    0  0.573  6.976  91.0  2.1675   1  273.0
 504  0.10959   0.0  11.93    0  0.573  6.794  89.3  2.3889   1  273.0
 505  0.04741   0.0  11.93    0  0.573  6.030  80.8  2.5050   1  273.0

      PTRATIO       B  LSTAT  MEDV
 0       15.3  396.90   4.98  24.0
 1       17.8  396.90   9.14  21.6
 2       17.8  392.83   4.03  34.7
 3       18.7  394.63   2.94  33.4
 4       18.7  396.90   5.33  36.2
 ..       ...     ...    ...   ...
 501     21.0  391.99   9.67  22.4
 502     21.0  396.90   9.08  20.6
 503     21.0  396.90   5.64  23.9
 504     21.0  393.45   6.48  22.0
 505     21.0  396.90   7.88  11.9

 [506 rows x 14 columns],
 'categories': None,
 'feature_names': ['CRIM',
  'ZN',
  'INDUS',
  'CHAS',
  'NOX',
  'RM',
  'AGE',
  'DIS',
  'RAD',
  'TAX',
  'PTRATIO',
  'B',
  'LSTAT'],
 'target_names': ['MEDV'],
 'DESCR': "**Author**:   \n**Source**: Unknown - Date unknown  \n**Please cite**:   \n\nThe Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic\nprices and the demand for clean air', J. Environ. Economics & Management,\nvol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics\n...', Wiley, 1980.   N.B. Various transformations are used in the table on\npages 244-261 of the latter.\nVariables in order:\nCRIM     per capita crime rate by town\nZN       proportion of residential land zoned for lots over 25,000 sq.ft.\nINDUS    proportion of non-retail business acres per town\nCHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)\nNOX      nitric oxides concentration (parts per 10 million)\nRM       average number of rooms per dwelling\nAGE      proportion of owner-occupied units built prior to 1940\nDIS      weighted distances to five Boston employment centres\nRAD      index of accessibility to radial highways\nTAX      full-value property-tax rate per $10,000\nPTRATIO  pupil-teacher ratio by town\nB        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town\nLSTAT    % lower status of the population\nMEDV     Median value of owner-occupied homes in $1000's\n\n\nInformation about the dataset\nCLASSTYPE: numeric\nCLASSINDEX: last\n\nDownloaded from openml.org.",
 'details': {'id': '531',
  'name': 'boston',
  'version': '1',
  'description_version': '1',
  'format': 'ARFF',
  'creator': ['D. and Rubinfeld', "D.L. 'Hedonic"],
  'collection_date': '1978',
  'upload_date': '2014-09-29T00:08:07',
  'language': 'English',
  'licence': 'Public',
  'url': 'https://api.openml.org/data/v1/download/52643/boston.arff',
  'parquet_url': 'https://openml1.win.tue.nl/datasets/0000/0531/dataset_531.pq',
  'file_id': '52643',
  'default_target_attribute': 'MEDV',
  'tag': ['OpenML-Reg19', 'study_130'],
  'visibility': 'public',
  'minio_url': 'https://openml1.win.tue.nl/datasets/0000/0531/dataset_531.pq',
  'status': 'active',
  'processing_date': '2020-11-20 20:16:37',
  'md5_checksum': 'cdd361fb886627eaa80c92f90d0610cc'},
 'url': 'https://www.openml.org/d/531'}

In [10]:
# 获取波士顿发房数据所有特征数据（feature/特征）
boston.data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88

In [11]:
# 获取波士顿房价（label/标记/目标值）
boston.target

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: MEDV, Length: 506, dtype: float64

In [14]:
# 数据集拆分
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(boston.data,boston.target,random_state=30,test_size=0.25)

In [20]:
# 训练集X
x_train

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
142,3.32105,0.0,19.58,1,0.871,5.403,100.0,1.3216,5,403.0,14.7,396.90,26.82
10,0.22489,12.5,7.87,0,0.524,6.377,94.3,6.3467,5,311.0,15.2,392.52,20.45
393,8.64476,0.0,18.10,0,0.693,6.193,92.6,1.7912,24,666.0,20.2,396.90,15.17
162,1.83377,0.0,19.58,1,0.605,7.802,98.2,2.0407,5,403.0,14.7,389.61,1.92
363,4.22239,0.0,18.10,1,0.770,5.803,89.0,1.9047,24,666.0,20.2,353.04,14.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,0.22438,0.0,9.69,0,0.585,6.027,79.7,2.4982,6,391.0,19.2,396.90,14.33
301,0.03537,34.0,6.09,0,0.433,6.590,40.4,5.4917,7,329.0,16.1,395.75,9.50
429,9.33889,0.0,18.10,0,0.679,6.380,95.6,1.9682,24,666.0,20.2,60.72,24.08
421,7.02259,0.0,18.10,0,0.718,6.006,95.3,1.8746,24,666.0,20.2,319.98,15.70
293,0.08265,0.0,13.92,0,0.437,6.127,18.4,5.5027,4,289.0,16.0,396.90,8.58

In [17]:
# 训练集Y
y_train

142    13.4
10     15.0
393    13.8
162    50.0
363    16.8
       ...
500    16.8
301    22.0
429     9.5
421    14.2
293    23.9
Name: MEDV, Length: 379, dtype: float64

In [18]:
# 测试集X
x_test

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
21,0.85204,0.0,8.14,0,0.538,5.965,89.2,4.0123,4,307.0,21.0,392.53,13.83
440,22.05110,0.0,18.10,0,0.740,5.818,92.4,1.8662,24,666.0,20.2,391.45,22.11
103,0.21161,0.0,8.56,0,0.520,6.137,87.4,2.7147,5,384.0,20.9,394.47,13.44
178,0.06642,0.0,4.05,0,0.510,6.860,74.4,2.9153,5,296.0,16.6,391.27,6.92
22,1.23247,0.0,8.14,0,0.538,6.142,91.7,3.9769,4,307.0,21.0,396.90,18.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,1.41385,0.0,19.58,1,0.871,6.129,96.0,1.7494,5,403.0,14.7,321.02,15.12
415,18.08460,0.0,18.10,0,0.679,6.434,100.0,1.8347,24,666.0,20.2,27.25,29.05
129,0.88125,0.0,21.89,0,0.624,5.637,94.7,1.9799,4,437.0,21.2,396.90,18.34
345,0.03113,0.0,4.39,0,0.442,6.014,48.5,8.0136,3,352.0,18.8,385.64,10.53
229,0.44178,0.0,6.20,0,0.504,6.552,21.4,3.3751,8,307.0,17.4,380.34,3.76

In [21]:
# 测试集Y
y_test

21     19.6
440    10.5
103    19.3
178    29.9
22     15.2
       ...
154    17.0
415     7.2
129    14.3
345    17.5
229    31.5
Name: MEDV, Length: 127, dtype: float64

In [22]:
# 数据集处理 标准化
from sklearn.preprocessing import StandardScaler
standardScaler = StandardScaler()
#给训练集数据标准化，各个feature之间具有可比性，均值为0，标准差为1，不改变数据分布
x_train = standardScaler.fit_transform(x_train)
# 为了保证和训练集一直使用同一个均值和标准差
x_test = standardScaler.transform(x_test)

In [23]:
x_train

array([[-0.05305115, -0.50304418,  1.25597173, ..., -1.68868921,
         0.43283552,  1.99405386],
       [-0.38128159,  0.01741265, -0.46087874, ..., -1.46141179,
         0.38516603,  1.1039294 ],
       [ 0.51132655, -0.50304418,  1.03898294, ...,  0.81136239,
         0.43283552,  0.36611822],
       ...,
       [ 0.58491274, -0.50304418,  1.03898294, ...,  0.81136239,
        -3.22596145,  1.61117458],
       [ 0.3393569 , -0.50304418,  1.03898294, ...,  0.81136239,
        -0.40431917,  0.44017881],
       [-0.39636075, -0.50304418,  0.42613624, ..., -1.09776792,
         0.43283552, -0.55474838]])

In [24]:
from sklearn.linear_model import LinearRegression
lr =  LinearRegression()
lr.fit(x_train,y_train)
#得出W
lr.coef_

array([-1.082296  ,  0.97155737, -0.0195896 ,  0.88135617, -2.07174553,
        2.71411016,  0.12780908, -3.19081251,  2.83026855, -2.22845784,
       -2.1059358 ,  0.58517276, -3.98854495])

In [25]:
#得出偏置 b
lr.intercept_

22.653562005277042

In [27]:
lr.score(x_test,y_test)

0.7417563197118319