In [1]:
import  pandas as pd

In [2]:
#第一种方式
table = pd.DataFrame({
    "姓名":['张三',"李四","王五","赵六"],
    "年龄":[19,34,43,43],
    "性别":["男","女","男","女"]
})

table

   姓名  年龄 性别
0  张三  19  男
1  李四  34  女
2  王五  43  男
3  赵六  43  女

In [14]:
# 第二种方式使用
import numpy as np
pd.DataFrame(data=np.random.randn(6,4),index=pd.date_range("2024-1-1",periods=6),columns=["A","B","C","D"])

                   A         B         C         D
2024-01-01  1.654637  0.095332 -2.739577  0.322249
2024-01-02 -0.559047  2.662540  0.303572  1.009012
2024-01-03  1.938788  0.226964 -1.819201  0.430983
2024-01-04 -0.525892  1.517214 -0.717167  0.522481
2024-01-05 -0.641379 -0.421147  0.101156 -0.834088
2024-01-06 -0.077370  0.829348 -0.031586 -1.876911

In [3]:
# 查询列
table["姓名"]

0    张三
1    李四
2    王五
3    赵六
Name: 姓名, dtype: object

In [4]:
# 创建series
test_series = pd.Series(["11","12","13","14"],name="testColumn")
test_series

0    11
1    12
2    13
3    14
Name: testColumn, dtype: object

In [5]:
# 查询age最大的用户
# DataFrom max
max_age = table["年龄"].max()
max_age
# Series max
test_series.max()

'14'

In [6]:
# 表格数值数据的快速预览
table.describe()

              年龄
count   4.000000
mean   34.750000
std    11.324752
min    19.000000
25%    30.250000
50%    38.500000
75%    43.000000
max    43.000000

In [7]:
# 数据读取和写入
execl_table = pd.read_excel("../数据表.xlsx")
execl_table

   姓名  年龄 性别
0  张三  19  男
1  李四  34  女
2  王五  43  男
3  赵六  43  女

In [8]:
#前N行数据
execl_table.head(2)

   姓名  年龄 性别
0  张三  19  男
1  李四  34  女

In [9]:
#后N行数据
execl_table.tail(3)

   姓名  年龄 性别
1  李四  34  女
2  王五  43  男
3  赵六  43  女

In [10]:
# 查看pd如何解析每一列数据的，也就是对应的属性类型
execl_table.dtypes

姓名    object
年龄     int64
性别    object
dtype: object

In [11]:
# 将数据转换成表格
table.to_excel("数据表.xlsx",sheet_name="用户数据",index=False)
# 等效的读取表中指定sheet

In [12]:
table = pd.read_excel("数据表.xlsx",sheet_name="用户数据")

In [13]:
# 表格信息
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   姓名      4 non-null      object
 1   年龄      4 non-null      int64
 2   性别      4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

In [19]:
table

   姓名  年龄 性别
0  张三  19  男
1  李四  34  女
2  王五  43  男
3  赵六  43  女

In [20]:
table.T

     0   1   2   3
姓名  张三  李四  王五  赵六
年龄  19  34  43  43
性别   男   女   男   女

In [21]:
table.to_numpy()

array([['张三', 19, '男'],
       ['李四', 34, '女'],
       ['王五', 43, '男'],
       ['赵六', 43, '女']], dtype=object)

In [25]:
import numpy as np
data = pd.DataFrame(data=np.random.randn(6,4),index=pd.date_range("2024-1-1",periods=6),columns=["A","B","C","D"])
data

                   A         B         C         D
2024-01-01  1.226040  0.325219 -0.211004 -2.205367
2024-01-02  0.109392  0.963106 -1.363906  1.316090
2024-01-03  0.161155  0.363688  0.654913  2.294845
2024-01-04  0.803871  2.381735  0.536450  1.117700
2024-01-05  0.573545  0.323468  0.377707 -0.406711
2024-01-06  0.149573  0.851077 -0.478517  0.482468

In [40]:
data[0:2]

                   A         B         C         D
2024-01-01  1.226040  0.325219 -0.211004 -2.205367
2024-01-02  0.109392  0.963106 -1.363906  1.316090

In [41]:
#获取指定的行
data.iloc[3]

data.

A    0.803871
B    2.381735
C    0.536450
D    1.117700
Name: 2024-01-04 00:00:00, dtype: float64