In [9]:
import  pandas as pd

In [10]:
table = pd.DataFrame({
    "姓名":['张三',"李四","王五","赵六"],
    "年龄":[19,34,43,43],
    "性别":["男","女","男","女"]
})

table

   姓名  年龄 性别
0  张三  19  男
1  李四  34  女
2  王五  43  男
3  赵六  43  女

In [11]:
# 查询列
table["姓名"]

0    张三
1    李四
2    王五
3    赵六
Name: 姓名, dtype: object

In [12]:
# 创建series
test_series = pd.Series(["11","12","13","14"],name="testColumn")
test_series

0    11
1    12
2    13
3    14
Name: testColumn, dtype: object

In [13]:
# 查询age最大的用户
# DataFrom max
max_age = table["年龄"].max()
max_age
# Series max
test_series.max()

'14'

In [14]:
# 表格数值数据的快速预览
table.describe()

              年龄
count   4.000000
mean   34.750000
std    11.324752
min    19.000000
25%    30.250000
50%    38.500000
75%    43.000000
max    43.000000

In [15]:
# 数据读取和写入
execl_table = pd.read_excel("../数据表.xlsx")
execl_table

    景区     天气      气温 旅游指数
0   三亚     多云  27/20℃   适宜
1  九寨沟   晴转多云  13/-2℃   适宜
2   大理      晴   15/0℃   适宜
3  张家界   晴转小雨   17/6℃   适宜
4   桂林  多云转小雨  21/11℃   适宜
5   青岛      晴   3/-4℃   一般

In [16]:
#前N行数据
execl_table.head(2)

    景区    天气      气温 旅游指数
0   三亚    多云  27/20℃   适宜
1  九寨沟  晴转多云  13/-2℃   适宜

In [17]:
#后N行数据
execl_table.tail(3)

    景区     天气      气温 旅游指数
3  张家界   晴转小雨   17/6℃   适宜
4   桂林  多云转小雨  21/11℃   适宜
5   青岛      晴   3/-4℃   一般

In [18]:
# 查看pd如何解析每一列数据的，也就是对应的属性类型
execl_table.dtypes

景区      object
天气      object
气温      object
旅游指数    object
dtype: object

In [20]:
# 将数据转换成表格
table.to_excel("数据表.xlsx",sheet_name="用户数据",index=False)
# 等效的读取表中指定sheet

In [24]:
table = pd.read_excel("数据表.xlsx",sheet_name="用户数据")

In [25]:
# 表格信息
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   姓名      4 non-null      object
 1   年龄      2 non-null      float64
 2   性别      4 non-null      object
dtypes: float64(1), object(2)
memory usage: 228.0+ bytes