In [73]:
import  pandas as pd

In [74]:
table = pd.read_excel("数据表.xlsx")
table

   姓名    年龄 性别
0  张三  19.0  男
1  李四   NaN  女
2  王五   NaN  男
3  赵六  43.0  女

In [75]:
# 获取子集
subset_table = table[["姓名","年龄"]]
subset_table

   姓名    年龄
0  张三  19.0
1  李四   NaN
2  王五   NaN
3  赵六  43.0

In [76]:
subset_table.shape

(4, 2)

In [77]:
# 过滤自定数据
table[table["年龄"] < 20][["姓名","年龄"]]

   姓名    年龄
0  张三  19.0

In [78]:
# 指定值的row
table
table[table['姓名'].isin(["张三","李四"])]

   姓名    年龄 性别
0  张三  19.0  男
1  李四   NaN  女

In [79]:
# not a null
table["年龄"].notna

<bound method Series.notna of 0    19.0
1     NaN
2     NaN
3    43.0
Name: 年龄, dtype: float64>

In [80]:
# not a null
table["年龄"].notnull

<bound method Series.notnull of 0    19.0
1     NaN
2     NaN
3    43.0
Name: 年龄, dtype: float64>

In [81]:
# 选取指定行和列
# 第一个参数是条件，第二个参数是需要展示的属性
table.loc[table["年龄"] < 20,["姓名","年龄"]]

   姓名    年龄
0  张三  19.0

In [82]:
table

   姓名    年龄 性别
0  张三  19.0  男
1  李四   NaN  女
2  王五   NaN  男
3  赵六  43.0  女

In [83]:
# row,column      num: = num:last   :num = 0:num  num = column 范围 [start,end)
table.iloc[0:3,2]

0    男
1    女
2    男
Name: 性别, dtype: object

In [84]:
table.iloc[1:3,0:3]

   姓名  年龄 性别
1  李四 NaN  女
2  王五 NaN  男

In [96]:
table.iloc[0:4, 1]  =20
table["年龄"]

0    20.0
1    20.0
2    20.0
3    20.0
Name: 年龄, dtype: float64