In [3]:
import pandas as pd

In [8]:
pm25_data = pd.read_csv("./assert/air_quality_pm25_long.csv")
pm25_data

,city,country,date.utc,location,parameter,value,unit
0,Antwerpen,BE,2019-06-18 06:00:00+00:00,BETR801,pm25,18.0,µg/m³
1,Antwerpen,BE,2019-06-17 08:00:00+00:00,BETR801,pm25,6.5,µg/m³
2,Antwerpen,BE,2019-06-17 07:00:00+00:00,BETR801,pm25,18.5,µg/m³
3,Antwerpen,BE,2019-06-17 06:00:00+00:00,BETR801,pm25,16.0,µg/m³
4,Antwerpen,BE,2019-06-17 05:00:00+00:00,BETR801,pm25,7.5,µg/m³
...,...,...,...,...,...,...,...
1105,London,GB,2019-05-07 06:00:00+00:00,London Westminster,pm25,9.0,µg/m³
1106,London,GB,2019-05-07 04:00:00+00:00,London Westminster,pm25,8.0,µg/m³
1107,London,GB,2019-05-07 03:00:00+00:00,London Westminster,pm25,8.0,µg/m³
1108,London,GB,2019-05-07 02:00:00+00:00,London Westminster,pm25,8.0,µg/m³
1109,London,GB,2019-05-07 01:00:00+00:00,London Westminster,pm25,8.0,µg/m³

In [6]:
no2_data = pd.read_csv("./assert/air_quality_no2_long.csv")
no2_data

,city,country,date.utc,location,parameter,value,unit
0,Paris,FR,2019-06-21 00:00:00+00:00,FR04014,no2,20.0,µg/m³
1,Paris,FR,2019-06-20 23:00:00+00:00,FR04014,no2,21.8,µg/m³
2,Paris,FR,2019-06-20 22:00:00+00:00,FR04014,no2,26.5,µg/m³
3,Paris,FR,2019-06-20 21:00:00+00:00,FR04014,no2,24.9,µg/m³
4,Paris,FR,2019-06-20 20:00:00+00:00,FR04014,no2,21.4,µg/m³
...,...,...,...,...,...,...,...
2063,London,GB,2019-05-07 06:00:00+00:00,London Westminster,no2,26.0,µg/m³
2064,London,GB,2019-05-07 04:00:00+00:00,London Westminster,no2,16.0,µg/m³
2065,London,GB,2019-05-07 03:00:00+00:00,London Westminster,no2,19.0,µg/m³
2066,London,GB,2019-05-07 02:00:00+00:00,London Westminster,no2,19.0,µg/m³
2067,London,GB,2019-05-07 01:00:00+00:00,London Westminster,no2,23.0,µg/m³

In [9]:
#纵向组合
pd.concat([pm25_data,no2_data],axis=0)

,city,country,date.utc,location,parameter,value,unit
0,Antwerpen,BE,2019-06-18 06:00:00+00:00,BETR801,pm25,18.0,µg/m³
1,Antwerpen,BE,2019-06-17 08:00:00+00:00,BETR801,pm25,6.5,µg/m³
2,Antwerpen,BE,2019-06-17 07:00:00+00:00,BETR801,pm25,18.5,µg/m³
3,Antwerpen,BE,2019-06-17 06:00:00+00:00,BETR801,pm25,16.0,µg/m³
4,Antwerpen,BE,2019-06-17 05:00:00+00:00,BETR801,pm25,7.5,µg/m³
...,...,...,...,...,...,...,...
2063,London,GB,2019-05-07 06:00:00+00:00,London Westminster,no2,26.0,µg/m³
2064,London,GB,2019-05-07 04:00:00+00:00,London Westminster,no2,16.0,µg/m³
2065,London,GB,2019-05-07 03:00:00+00:00,London Westminster,no2,19.0,µg/m³
2066,London,GB,2019-05-07 02:00:00+00:00,London Westminster,no2,19.0,µg/m³
2067,London,GB,2019-05-07 01:00:00+00:00,London Westminster,no2,23.0,µg/m³

In [10]:
# 横向组合
pd.concat([pm25_data,no2_data],axis=1)

,city,country,date.utc,location,parameter,value,unit,city,country,date.utc,location,parameter,value,unit
0,Antwerpen,BE,2019-06-18 06:00:00+00:00,BETR801,pm25,18.0,µg/m³,Paris,FR,2019-06-21 00:00:00+00:00,FR04014,no2,20.0,µg/m³
1,Antwerpen,BE,2019-06-17 08:00:00+00:00,BETR801,pm25,6.5,µg/m³,Paris,FR,2019-06-20 23:00:00+00:00,FR04014,no2,21.8,µg/m³
2,Antwerpen,BE,2019-06-17 07:00:00+00:00,BETR801,pm25,18.5,µg/m³,Paris,FR,2019-06-20 22:00:00+00:00,FR04014,no2,26.5,µg/m³
3,Antwerpen,BE,2019-06-17 06:00:00+00:00,BETR801,pm25,16.0,µg/m³,Paris,FR,2019-06-20 21:00:00+00:00,FR04014,no2,24.9,µg/m³
4,Antwerpen,BE,2019-06-17 05:00:00+00:00,BETR801,pm25,7.5,µg/m³,Paris,FR,2019-06-20 20:00:00+00:00,FR04014,no2,21.4,µg/m³
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,London,GB,2019-05-07 06:00:00+00:00,London Westminster,no2,26.0,µg/m³
2064,NaN,NaN,NaN,NaN,NaN,NaN,NaN,London,GB,2019-05-07 04:00:00+00:00,London Westminster,no2,16.0,µg/m³
2065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,London,GB,2019-05-07 03:00:00+00:00,London Westminster,no2,19.0,µg/m³
2066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,London,GB,2019-05-07 02:00:00+00:00,London Westminster,no2,19.0,µg/m³
2067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,London,GB,2019-05-07 01:00:00+00:00,London Westminster,no2,23.0,µg/m³

In [14]:
#纵向组合更具提供的标识组合
pd.concat([pm25_data,no2_data],axis=0,keys=["PM2.5","No2"])

                 city country                   date.utc            location  \
PM2.5 0     Antwerpen      BE  2019-06-18 06:00:00+00:00             BETR801
      1     Antwerpen      BE  2019-06-17 08:00:00+00:00             BETR801
      2     Antwerpen      BE  2019-06-17 07:00:00+00:00             BETR801
      3     Antwerpen      BE  2019-06-17 06:00:00+00:00             BETR801
      4     Antwerpen      BE  2019-06-17 05:00:00+00:00             BETR801
...               ...     ...                        ...                 ...
No2   2063     London      GB  2019-05-07 06:00:00+00:00  London Westminster
      2064     London      GB  2019-05-07 04:00:00+00:00  London Westminster
      2065     London      GB  2019-05-07 03:00:00+00:00  London Westminster
      2066     London      GB  2019-05-07 02:00:00+00:00  London Westminster
      2067     London      GB  2019-05-07 01:00:00+00:00  London Westminster

           parameter  value   unit
PM2.5 0         pm25   18.0  µg/m³
      1         pm25    6.5  µg/m³
      2         pm25   18.5  µg/m³
      3         pm25   16.0  µg/m³
      4         pm25    7.5  µg/m³
...              ...    ...    ...
No2   2063       no2   26.0  µg/m³
      2064       no2   16.0  µg/m³
      2065       no2   19.0  µg/m³
      2066       no2   19.0  µg/m³
      2067       no2   23.0  µg/m³

[3178 rows x 7 columns]

In [20]:
#join
# 观测站经纬度表 location：观测站名称
stations = pd.read_csv("./assert/air_quality_stations.csv")
stations

                      location  coordinates.latitude  coordinates.longitude
0                      BELAL01              51.23619                4.38522
1                      BELHB23              51.17030                4.34100
2                      BELLD01              51.10998                5.00486
3                      BELLD02              51.12038                5.02155
4                      BELR833              51.32766                4.36226
..                         ...                   ...                    ...
61             Southend-on-Sea              51.54420                0.67841
62  Southwark A2 Old Kent Road              51.48050               -0.05955
63                    Thurrock              51.47707                0.31797
64      Tower Hamlets Roadside              51.52253               -0.04216
65        Groton Fort Griswold              41.35360              -72.07890

[66 rows x 3 columns]

In [21]:
# 空气质量数据 location：观测站名称
air = pd.read_csv("./assert/air_quality_long.csv")
air

,city,country,date.utc,location,parameter,value,unit
0,Antwerpen,BE,2019-06-18 06:00:00+00:00,BETR801,pm25,18.0,µg/m³
1,Antwerpen,BE,2019-06-17 08:00:00+00:00,BETR801,pm25,6.5,µg/m³
2,Antwerpen,BE,2019-06-17 07:00:00+00:00,BETR801,pm25,18.5,µg/m³
3,Antwerpen,BE,2019-06-17 06:00:00+00:00,BETR801,pm25,16.0,µg/m³
4,Antwerpen,BE,2019-06-17 05:00:00+00:00,BETR801,pm25,7.5,µg/m³
...,...,...,...,...,...,...,...
5267,London,GB,2019-04-09 06:00:00+00:00,London Westminster,no2,41.0,µg/m³
5268,London,GB,2019-04-09 05:00:00+00:00,London Westminster,no2,41.0,µg/m³
5269,London,GB,2019-04-09 04:00:00+00:00,London Westminster,no2,41.0,µg/m³
5270,London,GB,2019-04-09 03:00:00+00:00,London Westminster,no2,67.0,µg/m³
5271,London,GB,2019-04-09 02:00:00+00:00,London Westminster,no2,67.0,µg/m³

In [27]:
#合并
pd.merge(air,stations,on="location",how="left")

,city,country,date.utc,location,parameter,value,unit,coordinates.latitude,coordinates.longitude
0,Antwerpen,BE,2019-06-18 06:00:00+00:00,BETR801,pm25,18.0,µg/m³,51.20966,4.43182
1,Antwerpen,BE,2019-06-17 08:00:00+00:00,BETR801,pm25,6.5,µg/m³,51.20966,4.43182
2,Antwerpen,BE,2019-06-17 07:00:00+00:00,BETR801,pm25,18.5,µg/m³,51.20966,4.43182
3,Antwerpen,BE,2019-06-17 06:00:00+00:00,BETR801,pm25,16.0,µg/m³,51.20966,4.43182
4,Antwerpen,BE,2019-06-17 05:00:00+00:00,BETR801,pm25,7.5,µg/m³,51.20966,4.43182
...,...,...,...,...,...,...,...,...,...
6943,London,GB,2019-04-09 06:00:00+00:00,London Westminster,no2,41.0,µg/m³,51.49467,-0.13193
6944,London,GB,2019-04-09 05:00:00+00:00,London Westminster,no2,41.0,µg/m³,51.49467,-0.13193
6945,London,GB,2019-04-09 04:00:00+00:00,London Westminster,no2,41.0,µg/m³,51.49467,-0.13193
6946,London,GB,2019-04-09 03:00:00+00:00,London Westminster,no2,67.0,µg/m³,51.49467,-0.13193
6947,London,GB,2019-04-09 02:00:00+00:00,London Westminster,no2,67.0,µg/m³,51.49467,-0.13193

In [29]:
#还可以这样
pd.merge(air, stations, how="left", right_on="location", left_on="location")

,city,country,date.utc,location,parameter,value,unit,coordinates.latitude,coordinates.longitude
0,Antwerpen,BE,2019-06-18 06:00:00+00:00,BETR801,pm25,18.0,µg/m³,51.20966,4.43182
1,Antwerpen,BE,2019-06-17 08:00:00+00:00,BETR801,pm25,6.5,µg/m³,51.20966,4.43182
2,Antwerpen,BE,2019-06-17 07:00:00+00:00,BETR801,pm25,18.5,µg/m³,51.20966,4.43182
3,Antwerpen,BE,2019-06-17 06:00:00+00:00,BETR801,pm25,16.0,µg/m³,51.20966,4.43182
4,Antwerpen,BE,2019-06-17 05:00:00+00:00,BETR801,pm25,7.5,µg/m³,51.20966,4.43182
...,...,...,...,...,...,...,...,...,...
6943,London,GB,2019-04-09 06:00:00+00:00,London Westminster,no2,41.0,µg/m³,51.49467,-0.13193
6944,London,GB,2019-04-09 05:00:00+00:00,London Westminster,no2,41.0,µg/m³,51.49467,-0.13193
6945,London,GB,2019-04-09 04:00:00+00:00,London Westminster,no2,41.0,µg/m³,51.49467,-0.13193
6946,London,GB,2019-04-09 03:00:00+00:00,London Westminster,no2,67.0,µg/m³,51.49467,-0.13193
6947,London,GB,2019-04-09 02:00:00+00:00,London Westminster,no2,67.0,µg/m³,51.49467,-0.13193