In [4]:
import pandas as pd

In [5]:
data = pd.read_csv("./assert/titanic.csv")
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [17]:
#使用str获得器对column进行操作，类似dt
spilt_name = data.Name.str.split(",")
spilt_name

0                             [Braund,  Mr. Owen Harris]
1      [Cumings,  Mrs. John Bradley (Florence Briggs ...
2                              [Heikkinen,  Miss. Laina]
3        [Futrelle,  Mrs. Jacques Heath (Lily May Peel)]
4                            [Allen,  Mr. William Henry]
                             ...
886                             [Montvila,  Rev. Juozas]
887                      [Graham,  Miss. Margaret Edith]
888          [Johnston,  Miss. Catherine Helen "Carrie"]
889                             [Behr,  Mr. Karl Howell]
890                               [Dooley,  Mr. Patrick]
Name: Name, Length: 891, dtype: object

In [37]:
#分割完成通过下标的方式获取
spilt_name.str.get(0).str.lower()

0         braund
1        cumings
2      heikkinen
3       futrelle
4          allen
         ...
886     montvila
887       graham
888     johnston
889         behr
890       dooley
Name: Name, Length: 891, dtype: object

In [39]:
spilt_name.str.get(1).str.lower()

0                                  mr. owen harris
1       mrs. john bradley (florence briggs thayer)
2                                      miss. laina
3               mrs. jacques heath (lily may peel)
4                                mr. william henry
                          ...
886                                    rev. juozas
887                           miss. margaret edith
888                 miss. catherine helen "carrie"
889                                mr. karl howell
890                                    mr. patrick
Name: Name, Length: 891, dtype: object

In [44]:
#获取字符串长度以及获取长度最大的
data.Name.str.len().idxmax()

307

In [53]:
#字符串替换
data.Sex.replace({
    "female":"女",
    "male":"男"
})

#也可以这样
data.Sex.replace("female","女")
data.Sex.replace("male","男")

0           男
1      female
2      female
3      female
4           男
        ...
886         男
887    female
888    female
889         男
890         男
Name: Sex, Length: 891, dtype: object